@import url('https://fonts.googleapis.com/css?family=Lato:300,400');

html, body {
    height: 100%;
    margin: 0;
}

body {
	background: url('assets/winter.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-clip: border-box;
	background-position: center;
	background-size: cover;
}

* {
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	flex-direction: column;
    font-family: 'Lato', sans-serif;
    color: white;
    font-size: 36px;
}

img.goat {
	width: 12%;
}

img.discord-icon {
	width: 18%;
	vertical-align: middle;
	margin-bottom: 5px;
}

.info {
	margin-top: 16px;
	padding-left: 16px;
}

.id {
	font-weight: 300;
}