table {
	border-collapse: collapse;
	border: 0;
}

td {
	border: 0;
	width: 32px;
	height: 32px;
}

td.tile-0 {
	background: pink;
}

td.tile-1 {
	background: purple;
}

td.tile-2 {
	background: orange;
}